/* line 1, ../sass/blocks/_hero.sass */
.header-content {
  background-color: #02160b;
}
/* line 4, ../sass/blocks/_hero.sass */
.header-content .wrapper {
  min-height: 779px;
  background: url(../images/main-img.jpg) center no-repeat;
  filter: drop-shadow(-150px 0px 150px #02160B);
  margin: 0 auto;
  padding: 20px 120px 150px 120px;
}
/* line 11, ../sass/blocks/_hero.sass */
.header-content header {
  display: flex;
  justify-content: space-between;
}
/* line 14, ../sass/blocks/_hero.sass */
.header-content header .logo {
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 20, ../sass/blocks/_hero.sass */
.header-content header .logo__icon {
  background: url(../icons/logo.svg);
  width: 70px;
  height: 60px;
}
/* line 24, ../sass/blocks/_hero.sass */
.header-content header .logo__text {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #f7f7f7;
}
/* line 29, ../sass/blocks/_hero.sass */
.header-content header nav {
  width: 480px;
  height: 48px;
  display: flex;
  align-items: center;
}
/* line 34, ../sass/blocks/_hero.sass */
.header-content header nav ul li {
  display: inline;
  font-weight: 400;
  font-size: 23px;
  color: #f7f7f7;
  list-style: none;
  margin-right: 60px;
}
/* line 41, ../sass/blocks/_hero.sass */
.header-content header nav .search {
  background: url("../icons/search-icon.svg") no-repeat;
  width: 32px;
  height: 32px;
  margin-right: 60px;
}
/* line 46, ../sass/blocks/_hero.sass */
.header-content header nav button {
  width: 120px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #CD6326;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  color: #f7f7f7;
  text-transform: capitalize;
}
/* line 58, ../sass/blocks/_hero.sass */
.header-content header nav button:hover {
  background-color: #CD6326;
  color: #333333;
  cursor: pointer;
  outline: none;
}
/* line 64, ../sass/blocks/_hero.sass */
.header-content header nav button:active {
  background-color: #8F5613;
  color: #333333;
  border: 2px solid #8F5613;
  cursor: pointer;
  outline: none;
}
/* line 71, ../sass/blocks/_hero.sass */
.header-content .donate {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
/* line 75, ../sass/blocks/_hero.sass */
.header-content .donate h1 {
  font-weight: normal;
  font-size: 48px;
  color: #CD6326;
  letter-spacing: 2px;
  margin-bottom: 51px;
}
/* line 81, ../sass/blocks/_hero.sass */
.header-content .donate p {
  width: 274px;
  height: 108px;
  font-weight: normal;
  font-size: 18px;
  color: #f7f7f7;
  margin-bottom: 49px;
}
/* line 88, ../sass/blocks/_hero.sass */
.header-content .donate button {
  height: 60px;
  width: 160px;
  background-color: #CD6326;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #f7f7f7;
  font-size: 23px;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
}
/* line 100, ../sass/blocks/_hero.sass */
.header-content .donate button:hover {
  background-color: #E39128;
  cursor: pointer;
}
/* line 103, ../sass/blocks/_hero.sass */
.header-content .donate button:active {
  background-color: #8F5613;
  cursor: pointer;
}

/* line 8, ../sass/style.sass */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 14, ../sass/style.sass */
.main-container {
  max-width: 1440px;
  margin: 0 auto;
}
