/* line 1, ../sass/blocks/_hero.sass */
.header-content {
  min-height: 779px;
  background: url(../images/main-img.jpg) center no-repeat;
}
/* line 4, ../sass/blocks/_hero.sass */
.header-content .header-wrapper {
  width: 100%;
  padding: 20px 120px 60px 120px;
}
/* line 8, ../sass/blocks/_hero.sass */
.header-content header {
  display: flex;
  justify-content: space-between;
}
/* line 11, ../sass/blocks/_hero.sass */
.header-content header .logo {
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 17, ../sass/blocks/_hero.sass */
.header-content header .logo__icon {
  background: url(../icons/logo.svg);
  width: 70px;
  height: 60px;
  margin-left: -5px;
}
/* line 22, ../sass/blocks/_hero.sass */
.header-content header .logo__text {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-right: 13px;
}
/* line 28, ../sass/blocks/_hero.sass */
.header-content header nav {
  width: 480px;
  height: 48px;
}
/* line 31, ../sass/blocks/_hero.sass */
.header-content header nav ul {
  display: flex;
}
/* line 33, ../sass/blocks/_hero.sass */
.header-content header nav ul li {
  list-style: none;
  margin-right: 62px;
  margin-top: 12px;
}
/* line 37, ../sass/blocks/_hero.sass */
.header-content header nav ul li a {
  font-weight: 400;
  font-size: 23px;
  color: #f7f7f7;
  text-decoration: none;
}
/* line 42, ../sass/blocks/_hero.sass */
.header-content header nav ul li a:hover {
  color: #CD6326;
}
/* line 44, ../sass/blocks/_hero.sass */
.header-content header nav ul li:nth-child(3) {
  width: 32px;
  height: 32px;
  background: url("../icons/search-icon.svg") no-repeat;
  margin-right: 65px;
}
/* line 49, ../sass/blocks/_hero.sass */
.header-content header nav ul li:nth-child(3):hover {
  cursor: pointer;
}
/* line 51, ../sass/blocks/_hero.sass */
.header-content header nav ul li:nth-child(4) {
  margin-right: 0;
  margin-top: 0;
}
/* line 54, ../sass/blocks/_hero.sass */
.header-content header nav ul li:nth-child(4) a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #CD6326;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  color: #f7f7f7;
  text-transform: capitalize;
  text-align: center;
  margin-right: -2px;
  margin-top: 4px;
}
/* line 71, ../sass/blocks/_hero.sass */
.header-content header nav ul li:nth-child(4):hover a:hover {
  background-color: #CD6326;
  cursor: pointer;
  color: #333333;
  border-radius: 5px;
  border: none;
}
/* line 79, ../sass/blocks/_hero.sass */
.header-content header nav ul li:nth-child(4):active a:active {
  background-color: #8F5613;
  cursor: pointer;
  border-radius: 5px;
  color: #333333;
  border: none;
}
/* line 86, ../sass/blocks/_hero.sass */
.header-content .donate {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
/* line 90, ../sass/blocks/_hero.sass */
.header-content .donate h1 {
  font-weight: normal;
  font-size: 48px;
  color: #CD6326;
  letter-spacing: 2px;
  margin-bottom: 51px;
}
/* line 96, ../sass/blocks/_hero.sass */
.header-content .donate p {
  width: 274px;
  line-height: 28px;
  font-weight: normal;
  font-size: 18px;
  color: #f7f7f7;
  margin-bottom: 49px;
}
/* line 103, ../sass/blocks/_hero.sass */
.header-content .donate button {
  height: 60px;
  width: 160px;
  background-color: #CD6326;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #f7f7f7;
  font-size: 23px;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
}
/* line 115, ../sass/blocks/_hero.sass */
.header-content .donate button:hover {
  background-color: #E39128;
  cursor: pointer;
}
/* line 118, ../sass/blocks/_hero.sass */
.header-content .donate button:active {
  background-color: #8F5613;
  cursor: pointer;
}

/* line 1, ../sass/blocks/_main.sass */
.latest-articles {
  background-color: #CCCCCC;
  min-height: 1368px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* line 9, ../sass/blocks/_main.sass */
.latest-articles .header__title {
  font-weight: normal;
  font-size: 48px;
  color: #333333;
  margin-top: 120px;
  padding: 5px;
}
/* line 15, ../sass/blocks/_main.sass */
.latest-articles .header__text {
  font-size: 24px;
  color: #666666;
  margin-top: 20px;
  margin-bottom: 120px;
}
/* line 20, ../sass/blocks/_main.sass */
.latest-articles .slides {
  display: flex;
  position: relative;
  padding-bottom: 252px;
}
/* line 24, ../sass/blocks/_main.sass */
.latest-articles .slides div.img {
  width: 300px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
/* line 31, ../sass/blocks/_main.sass */
.latest-articles .slides div.img.first {
  background: url("../images/deer.jpg");
  margin-left: 60px;
  margin-right: 60px;
}
/* line 35, ../sass/blocks/_main.sass */
.latest-articles .slides div.img.second {
  background: url("../images/squirrel.jpg");
}
/* line 37, ../sass/blocks/_main.sass */
.latest-articles .slides div.img.third {
  background: url("../images/bird.jpg");
  margin-left: 60px;
  margin-right: 60px;
}
/* line 42, ../sass/blocks/_main.sass */
.latest-articles .slides div.img__title {
  color: #f7f7f7;
  font-size: 22px;
  font-weight: 400;
  line-height: 41px;
}
/* line 47, ../sass/blocks/_main.sass */
.latest-articles .slides div.img__descr {
  color: #f7f7f7;
  font-weight: normal;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 40px;
}
/* line 53, ../sass/blocks/_main.sass */
.latest-articles .right-arrow {
  position: absolute;
  top: 144px;
  right: -29px;
  width: 30px;
  height: 70px;
  background: url("../icons/right-arrow.svg") no-repeat;
}
/* line 60, ../sass/blocks/_main.sass */
.latest-articles .right-arrow:hover {
  cursor: pointer;
  filter: invert(41%) sepia(70%) saturate(1056%) hue-rotate(350deg) brightness(90%) contrast(82%);
}
/* line 63, ../sass/blocks/_main.sass */
.latest-articles .left-arrow {
  position: absolute;
  top: 144px;
  left: -31px;
  width: 30px;
  height: 70px;
  background: url("../icons/left-arrow.svg") no-repeat;
}
/* line 70, ../sass/blocks/_main.sass */
.latest-articles .left-arrow:hover {
  cursor: pointer;
  filter: invert(41%) sepia(70%) saturate(1056%) hue-rotate(350deg) brightness(90%) contrast(82%);
}
/* line 73, ../sass/blocks/_main.sass */
.latest-articles .form {
  position: relative;
  margin-bottom: 239px;
}
/* line 76, ../sass/blocks/_main.sass */
.latest-articles .form__title {
  font-size: 27px;
  color: #333333;
  font-weight: normal;
  margin-top: -10px;
}
/* line 81, ../sass/blocks/_main.sass */
.latest-articles .form form {
  margin-left: -80px;
}
/* line 83, ../sass/blocks/_main.sass */
.latest-articles .form form input[type="email"] {
  width: 540px;
  height: 59px;
  margin-top: 61px;
  background-color: transparent;
  color: #666666;
  font-size: 23px;
  outline: none;
  border: 1px solid #666666;
}
/* line 92, ../sass/blocks/_main.sass */
.latest-articles .form form input[type="submit"] {
  position: absolute;
  bottom: 0px;
  width: 120px;
  height: 59px;
  background-color: #CD6326;
  color: #f7f7f7;
  font-size: 23px;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  border: 1px solid #CD6326;
}
/* line 103, ../sass/blocks/_main.sass */
.latest-articles .form form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #E39128;
  border: 1px solid #E39128;
}
/* line 107, ../sass/blocks/_main.sass */
.latest-articles .form form input[type="submit"]:active {
  cursor: pointer;
  background-color: #8F5613;
  border: 1px solid #8F5613;
}

/* line 1, ../sass/blocks/_footer.sass */
footer {
  height: 360px;
  background: url("../images/footer-img.jpg") center no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
/* line 8, ../sass/blocks/_footer.sass */
footer .logo {
  width: 226px;
  display: flex;
  position: absolute;
  left: 120px;
}
/* line 13, ../sass/blocks/_footer.sass */
footer .logo__icon {
  width: 70px;
  height: 60px;
  background: url("../icons/logo.svg") center no-repeat;
  margin-right: 14px;
}
/* line 19, ../sass/blocks/_footer.sass */
footer .logo__text {
  font-weight: normal;
  font-size: 32px;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-top: 5px;
}
/* line 25, ../sass/blocks/_footer.sass */
footer nav {
  width: 479px;
  height: 60px;
  position: absolute;
}
/* line 29, ../sass/blocks/_footer.sass */
footer nav ul {
  display: flex;
  justify-content: space-between;
}
/* line 32, ../sass/blocks/_footer.sass */
footer nav ul li {
  display: inline-block;
  list-style: none;
  margin-top: 13px;
}
/* line 36, ../sass/blocks/_footer.sass */
footer nav ul li:nth-child(3) {
  padding-right: 0;
}
/* line 38, ../sass/blocks/_footer.sass */
footer nav ul li a {
  font-size: 23px;
  color: #f7f7f7;
  text-transform: capitalize;
  text-decoration: none;
}
/* line 43, ../sass/blocks/_footer.sass */
footer nav a:hover {
  color: #CD6326;
  transition: 300ms ease;
}
/* line 47, ../sass/blocks/_footer.sass */
footer .social-links {
  position: absolute;
  top: 160px;
  right: 120px;
  width: 243px;
}
/* line 52, ../sass/blocks/_footer.sass */
footer .social-links ul {
  display: flex;
  justify-content: space-between;
}
/* line 55, ../sass/blocks/_footer.sass */
footer .social-links ul li {
  list-style: none;
}
/* line 57, ../sass/blocks/_footer.sass */
footer .social-links ul a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
/* line 62, ../sass/blocks/_footer.sass */
footer .social-links ul li:nth-child(1) {
  background: url("../icons/facebook.svg") center no-repeat;
}
/* line 64, ../sass/blocks/_footer.sass */
footer .social-links ul li:nth-child(2) {
  background: url("../icons/instagram.svg") center no-repeat;
}
/* line 66, ../sass/blocks/_footer.sass */
footer .social-links ul li:nth-child(3) {
  background: url("../icons/pinterest.svg") center no-repeat;
}
/* line 68, ../sass/blocks/_footer.sass */
footer .social-links ul li:nth-child(4) {
  background: url("../icons/youtube.svg") center center/cover no-repeat;
}

/* line 8, ../sass/style.sass */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 14, ../sass/style.sass */
.wrapper {
  background-color: #02160b;
}

/* line 17, ../sass/style.sass */
.wrapper-articles {
  background-color: #cccccc;
}

/* line 20, ../sass/style.sass */
.wrapper-footer {
  background-color: #181617;
}

/* line 23, ../sass/style.sass */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
