footer
    height: 360px
    background: url('../images/footer-img.jpg') center no-repeat
    display: flex
    justify-content: space-around
    align-items: center
    position: relative
    .logo
        width: 226px
        display: flex
        position: absolute
        left: 120px
        &__icon
            width: 70px
            height: 60px
            background: url('../icons/logo.svg') center no-repeat
            margin-right: 14px

        &__text
            font-weight: normal
            font-size: 32px
            text-transform: uppercase
            color: $font-light
            margin-top: 5px
    nav
        width: 479px
        height: 60px
        position: absolute
        ul
            display: flex
            justify-content: space-between
        ul li
            display: inline-block
            list-style: none
            margin-top: 13px
        ul li:nth-child(3)
            padding-right: 0
        ul li a
            font-size: 23px
            color: $font-light
            text-transform: capitalize
            text-decoration: none
        a:hover
            color: $orange-main
            transition: 300ms ease

    .social-links
        position: absolute
        top: 160px
        right: 120px
        width: 243px
        ul
            display: flex
            justify-content: space-between
            li
                list-style: none
            a
                display: block
                width: 40px
                height: 40px
                border-radius: 100%
        ul li:nth-child(1)
            background: url('../icons/facebook.svg') center no-repeat
        ul li:nth-child(2)
            background: url('../icons/instagram.svg') center no-repeat
        ul li:nth-child(3)
            background: url('../icons/pinterest.svg') center no-repeat
        ul li:nth-child(4)
            background: url('../icons/youtube.svg') center center/cover no-repeat
